CHANGE_WHITELIST=timetable_enrollment,timetable_status,timetable_distribs,timetable_deliveryMode,timetable_xlist,timetable_wc,orc_description,timetable_instructor,timetable_periodCode,timetable_period,timetable_limit,timetable_room,timetable_building